<div id="random">
    <img src="{{image_url}}" alt="{{name}} Image">
    <div id="randomInfo">
        {{> beerpartials }}
        <div>{{food_pairing}}</div>
        <div>{{brewers_tips}}</div>
    </div>

</div>